@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer base {
  input,
  select {
    outline-color: var(--color-gray-200);
    border-color: var(--color-gray-200);
  }
}

@theme {
  --animate-shimmer: shimmer 2s ease-in-out infinite;

  --color-blue-400: #2589fe;
  --color-blue-500: #0070f3;
  --color-blue-600: #2f6feb;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
