---
import { getCollection } from 'astro:content';
import LayoutBase from '@/layouts/LayoutBase.astro';
import Tag from '@/elements/Tag.astro';

const postList = await getCollection('blog');
const tagList = [...new Set(postList.map((post: any) => post.data.tags).flat())];
---

<LayoutBase title='Tags'>
    <h1 class='text-3xl font-bold underline'>Tags</h1>

    <ul class='flex flex-row gap-2 flex-wrap'>
        {
            tagList.map((tag) => (
                <li>
                    <Tag tag={tag}>{tag}</Tag>
                </li>
            ))
        }
    </ul>
</LayoutBase>
