---
import { getCollection } from 'astro:content';
import LayoutBase from '../layouts/LayoutBase.astro';
import Link from '@/elements/Link.astro';

const allPosts = await getCollection('blog');

console.log('📡 · blog.astro:8 · allPosts:', allPosts);
---

<LayoutBase title='Blog'>
    <div>
        <h1 class='text-3xl font-bold underline'>My Astro Learning Blog</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {
                allPosts.map((post: any) => (
                    <li>
                        <Link href={`/posts/${post.id}`}>{post.data.title}</Link>
                    </li>
                ))
            }
        </ul>
    </div>
</LayoutBase>
