---
import LayoutBase from '../layouts/LayoutBase.astro';
import Link from '@/elements/Link.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<LayoutBase title='Blog'>
    <div>
        <h1 class='text-3xl font-bold underline'>My Astro Learning Blog</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {
                allPosts.map((post: any) => (
                    <li>
                        <Link href={post.url}>{post.frontmatter.title}</Link>
                    </li>
                ))
            }
        </ul>
    </div>
</LayoutBase>
