---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
---

<BaseLayout title='Home'>
    <div>
        <Header />

        <h1 class='text-3xl font-bold underline'>My Astro Site</h1>
    </div>
</BaseLayout>
