---
import LayoutBase from '@/layouts/LayoutBase.astro';
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';

const restaurantList = await fetchApi<Article[]>({
    endpoint: 'restaurants', // the content type to fetch
    wrappedByKey: 'data', // the key to unwrap the response
});

restaurantList;
---

<LayoutBase title='Home'>
    {
        restaurantList.map(function (restaurant) {
            console.log('📡 · strapi.astro:18 · restaurant:', restaurant.Description);

            return (
                <Fragment>
                    <div>
                        <h1>{restaurant.Name}</h1>
                        <p>{restaurant.Description[0].children[0].text}</p>
                    </div>
                </Fragment>
            );
        })
    }
</LayoutBase>
