.profile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1280px;
    margin: 0 auto;
    color: var(--color-1);

    & img {
        z-index: -1;
    }

    & section {
        position: relative;

        & :global(.entry) {
            display: flex;

            & :global(.key) {
                display: inline-block;
                width: 180px;
                text-transform: uppercase;
                color: grey;
                height: auto;
            }

            & :global(.value) {
                width: 100%;
            }
        }
    }
}
