.profile {
    --line-v-gap: 4px;
    --layout-h-offset: 100px;
    --layout-v-offset: 25px;
    --content-v-padding: 16px;
    --content-h-padding: 12px;

    display: grid;
    grid-template-columns: minmax(5px, var(--layout-h-offset)) 1fr minmax(
            5px,
            var(--layout-h-offset)
        );
    grid-template-rows: var(--layout-v-offset) 1fr var(--layout-v-offset);
    grid-template-areas:
        '.    .    .'
        '. browser .'
        '.    .    .';
    // height: 100vh;

    // @media (max-width: 550px) {
    //     grid-template-columns: 8px 1fr 8px;
    // }

    & :global(.browser) {
        grid-area: browser;
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
        border-radius: 14px;
        box-shadow: rgba(104, 112, 118, 0.18) 0px 12px 34px 6px;

        & header {
            position: relative;
            display: flex;
            height: 40px;
            justify-content: space-between;
            align-items: center;
            padding: 0 var(--content-h-padding);
            border: 1px solid var(--color-7);
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;

            & :global(.controls) {
                display: flex;
                align-items: center;
                gap: 8px;
                height: 100%;
                width: max-content;

                & :global(.dot) {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color 0.1s ease-in-out;
                    background-color: var(--bg);

                    &:global(.close) {
                        --bg: rgb(243, 18, 96);

                        &:hover {
                            --bg: rgb(184, 10, 71);
                        }
                    }
                    &:global(.minimize) {
                        --bg: rgb(245, 165, 36);

                        &:hover {
                            --bg: rgb(185, 117, 9);
                        }
                    }
                    &:global(.maximize) {
                        --bg: rgb(23, 201, 100);

                        &:hover {
                            --bg: rgb(19, 164, 82);
                        }
                    }
                }
            }

            & :global(.title) {
                display: flex;
                justify-content: center;
                align-items: center;

                & blockquote {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    width: 210px;
                    height: 28px;
                    background-color: var(--color-6);
                    border-radius: 7px;
                }
            }
        }

        & :global(.content) {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: var(--content-v-padding) var(--content-h-padding);
            background-color: var(--color-5);

            & :global(.section) {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: var(--line-v-gap);

                & img {
                    position: absolute;
                    right: 0;
                    border-radius: 8px;
                    border: 1px solid #00000050;
                }

                & :global(.entry) {
                    display: flex;
                    width: calc(100% - 210px);

                    & span {
                        line-height: 24px;

                        &:global(.name) {
                            display: inline-block;
                            min-width: 180px;
                            text-transform: uppercase;
                            color: grey;
                        }

                        &:global(.value) {
                            & b {
                                font-weight: 800;
                            }

                            & ul {
                                display: flex;
                                flex-direction: column;
                                gap: var(--line-v-gap);
                            }
                        }
                    }
                }

                & :global(.job-entry) {
                    margin-bottom: 24px;
                }
            }

            & a {
                color: var(--color-3);
                text-decoration: none;
                font-weight: 600;

                &:visited {
                    color: var(--color-4);
                }

                &:hover,
                &:hover:visited {
                    text-decoration: underline;
                }
            }
        }
    }
}
