@import 'reset-css';

:root {
    // min-height: 100vh;
    // & body,
    // & main {
    //     min-height: 100vh;
    // }

    color: var(--color-1);
    background-color: var(--color-2);
    font-family: system-ui, sans-serif;
    font-size: 16px;

    --color-1: #030304;
    --color-2: #faf7fe;
    --color-3: #7700ff;
    --color-4: #ff6f00;
    --color-5: #ffffff;
    --color-6: #eaeaeb;
    --color-7: #eceef0;
}

[data-theme='dark'] {
    --color-1: #f6f1fd;
    --color-2: #030304;
    --color-3: #ad67fe;
    --color-4: #ff8c00;
    --color-5: #16181a;
    --color-6: #16181a;
    --color-7: #26292b;
}

h1,
thead {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
