---
import { cva } from 'cva';

export const navLinkCn = cva({
    base: 'text-blue-500 hover:text-blue-600 hover:underline',
});

const { href } = Astro.props;
---

<a class={navLinkCn()} href={href}><slot /></a>
