@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow: hidden; // turn off scrollbars

    & body {
        margin: 0;
        padding: 5px;
        min-height: 100vh !important;

        & ul {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='tel'],
    input[type='password'] {
        font-size: 16px;
    }
}
