:root,
.light,
.light-theme {
    --accent-1: #090813;
    --accent-2: #161423;
    --accent-3: #251f42;
    --accent-4: #30265a;
    --accent-5: #392f67;
    --accent-6: #443a75;
    --accent-7: #53488a;
    --accent-8: #6659aa;
    --accent-9: #433974;
    --accent-10: #53498b;
    --accent-11: #b4a9ff;
    --accent-12: #e0defd;

    --accent-a1: #0a00ee09;
    --accent-a2: #8975f71a;
    --accent-a3: #856afd3a;
    --accent-a4: #8163fe53;
    --accent-a5: #876dfd61;
    --accent-a6: #917aff6f;
    --accent-a7: #9782ff85;
    --accent-a8: #9784fea7;
    --accent-a9: #9079ff6e;
    --accent-a10: #9683ff86;
    --accent-a11: #b4a9ff;
    --accent-a12: #e2e0fffd;

    --accent-contrast: #fff;
    --accent-surface: #231f3b80;
    --accent-indicator: #433974;
    --accent-track: #433974;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        :root,
        .light,
        .light-theme {
            --accent-1: oklch(14.1% 0.0247 288.8);
            --accent-2: oklch(20.3% 0.0299 288.8);
            --accent-3: oklch(26.7% 0.0632 288.8);
            --accent-4: oklch(31% 0.0886 288.8);
            --accent-5: oklch(34.8% 0.0942 288.8);
            --accent-6: oklch(38.9% 0.0975 288.8);
            --accent-7: oklch(44.4% 0.1059 288.8);
            --accent-8: oklch(51.6% 0.1246 288.8);
            --accent-9: oklch(38.6% 0.0975 288.8);
            --accent-10: oklch(44.7% 0.1059 288.8);
            --accent-11: oklch(77.8% 0.1246 288.8);
            --accent-12: oklch(91.2% 0.0429 288.8);

            --accent-a1: color(display-p3 0.0392 0 0.9922 / 0.029);
            --accent-a2: color(display-p3 0.5725 0.4902 0.9961 / 0.095);
            --accent-a3: color(display-p3 0.5216 0.4314 0.9961 / 0.218);
            --accent-a4: color(display-p3 0.502 0.4 0.9961 / 0.312);
            --accent-a5: color(display-p3 0.5294 0.4431 1 / 0.365);
            --accent-a6: color(display-p3 0.5725 0.4941 1 / 0.419);
            --accent-a7: color(display-p3 0.5961 0.5255 1 / 0.505);
            --accent-a8: color(display-p3 0.6 0.5333 1 / 0.632);
            --accent-a9: color(display-p3 0.5686 0.4902 1 / 0.414);
            --accent-a10: color(display-p3 0.5922 0.5294 1 / 0.509);
            --accent-a11: color(display-p3 0.7137 0.6784 1 / 0.976);
            --accent-a12: color(display-p3 0.898 0.8902 1 / 0.98);

            --accent-contrast: #fff;
            --accent-surface: color(display-p3 0.1333 0.1176 0.2196 / 0.5);
            --accent-indicator: oklch(38.6% 0.0975 288.8);
            --accent-track: oklch(38.6% 0.0975 288.8);
        }
    }
}

.dark,
.dark-theme {
    --accent-1: #fcfdfa;
    --accent-2: #f7fbf3;
    --accent-3: #ebf8d8;
    --accent-4: #dff2c0;
    --accent-5: #d1e9aa;
    --accent-6: #c1db96;
    --accent-7: #aec97f;
    --accent-8: #96b45a;
    --accent-9: #c3ee6b;
    --accent-10: #b8e459;
    --accent-11: #637b31;
    --accent-12: #354021;

    --accent-a1: #66990005;
    --accent-a2: #55aa000c;
    --accent-a3: #7dd20027;
    --accent-a4: #7ecb003f;
    --accent-a5: #75bd0055;
    --accent-a6: #69a80069;
    --accent-a7: #5e940080;
    --accent-a8: #5d8b00a5;
    --accent-a9: #98e20094;
    --accent-a10: #92d600a6;
    --accent-a11: #3e5c00ce;
    --accent-a12: #172400de;

    --accent-contrast: #1d250f;
    --accent-surface: #f5faf0cc;
    --accent-indicator: #c3ee6b;
    --accent-track: #c3ee6b;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark,
        .dark-theme {
            --accent-1: oklch(99.2% 0.004 124.9);
            --accent-2: oklch(98.2% 0.0105 124.9);
            --accent-3: oklch(96.1% 0.0441 124.9);
            --accent-4: oklch(93.4% 0.0684 124.9);
            --accent-5: oklch(90% 0.0856 124.9);
            --accent-6: oklch(85.6% 0.0947 124.9);
            --accent-7: oklch(79.9% 0.1024 124.9);
            --accent-8: oklch(72.8% 0.1233 124.9);
            --accent-9: oklch(89.2% 0.1656 124.9);
            --accent-10: oklch(86.1% 0.1727 124.9);
            --accent-11: oklch(54.7% 0.1042 124.9);
            --accent-12: oklch(35.4% 0.0516 124.9);

            --accent-a1: color(display-p3 0.4118 0.6078 0.0196 / 0.02);
            --accent-a2: color(display-p3 0.3765 0.6471 0.0196 / 0.044);
            --accent-a3: color(display-p3 0.5059 0.8078 0.0078 / 0.142);
            --accent-a4: color(display-p3 0.5216 0.7608 0.0039 / 0.228);
            --accent-a5: color(display-p3 0.4824 0.7098 0.0039 / 0.31);
            --accent-a6: color(display-p3 0.4196 0.6235 0.0039 / 0.385);
            --accent-a7: color(display-p3 0.3686 0.5451 0.0039 / 0.471);
            --accent-a8: color(display-p3 0.3569 0.5059 0 / 0.604);
            --accent-a9: color(display-p3 0.6078 0.8627 0 / 0.51);
            --accent-a10: color(display-p3 0.5725 0.8078 0 / 0.569);
            --accent-a11: color(display-p3 0.2314 0.3216 0 / 0.769);
            --accent-a12: color(display-p3 0.0824 0.1255 0 / 0.855);

            --accent-contrast: #1d250f;
            --accent-surface: color(display-p3 0.9647 0.9765 0.9412 / 0.8);
            --accent-indicator: oklch(89.2% 0.1656 124.9);
            --accent-track: oklch(89.2% 0.1656 124.9);
        }
    }
}
