@import "@ui/kit/globals.css";
@import "./accent.css";
@import "./gray.css";

@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar' {
  /* biome-ignore lint/correctness/noUnknownProperty: tailwind-scrollbar unique */
  nocompatible: true;
  /* biome-ignore lint/correctness/noUnknownProperty: tailwind-scrollbar unique */
  preferredstrategy: "pseudoelements";
}

@custom-variant dark (&:is(.dark, .dark *));

@theme inline {
  --color-test: #141617;
}
