---
import Nav from './Nav.astro';
import Burger from './Burger.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
    <nav class='flex justify-between items-center'>
        <ThemeToggle />
        <Burger />
        <Nav />
    </nav>
</header>
